# Librerias

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.decomposition import TruncatedSVD
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

from surprise import Dataset, Reader, SVD
from surprise.model_selection import train_test_split

# cargar datos

In [3]:
# Cargar datos
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

In [7]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
ratings.head()

   userId  movieId  rating  timestamp
0       1       17     4.0  944249077
1       1       25     1.0  944250228
2       1       29     2.0  943230976
3       1       30     5.0  944249077
4       1       32     5.0  943228858

In [12]:
# Configurar escala de ratings (1-5)
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

In [13]:
# Dividir en train y test
trainset, testset = train_test_split(data, test_size=0.25)

## Entrenar modelo SVD

In [14]:
# Entrenar el modelo SVD
model = SVD(n_factors=100, n_epochs=20, lr_all=0.005, reg_all=0.02)
model.fit(trainset)

In [1]:
# Evaluar
from surprise import accuracy
predictions = model.test(testset)
accuracy.rmse(predictions)  # Debería ser ~0.90-0.95

NameError: name 'model' is not defined